.delivery-container {
    font-family: Arial, sans-serif;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 95%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.home-page h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.header-row, .bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.earnings-amount {
    color: orange;
}

.restaurant-name, .order-price {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-details, .order-number, .order-time, .deliver-btn {
    margin-right: 10px;
}

.deliver-btn {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.deliver-btn:hover {
    background-color: darkorange;
}

.delivery-info {
    margin-top: 10px;
    margin-bottom: 10px;
}

.status-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    margin: auto;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    margin: auto;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.code-input-section {
    margin-top: 20px;
}

.code-inputs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.code-inputs input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0; /* Light grey background */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.code-inputs input:focus {
    outline: none;
    border-color: orange;
    box-shadow: 0 0 5px orange;
}

.status-info {
    margin-bottom: 20px;
}

.status-lines {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px 0;
}

.status-line {
    flex: 1;
    height: 4px;
    background-color: orange;
    border-radius: 2px;
    margin: 0 10px;
    position: relative;
}

.status-line.preparation::before {
    content: 'En préparation';
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #333;
}

.status-line.ready::before {
    content: 'Prêt à être retiré';
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #333;
}
