.delivery-container {
    font-family: Arial, sans-serif;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px; /* You can reduce this if the container still appears too padded */
    width: 95%;
    margin: auto;
    margin-top: 0; /* Ensure no space above the container */
    margin-bottom: 40px; /* Space below the container; adjust as needed */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.home-page h2 {
    margin-top: 0; /* Ensure no space above the title inside its parent container */
    margin-bottom: 0; /* No margin below the title to keep the delivery container close */
}

.header-row, .bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.earnings-amount {
    color: orange;
}

.restaurant-name, .order-price {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-details, .order-number, .order-time, .deliver-btn {
    margin-right: 10px; /* Right margin for spacing between elements */
}

.deliver-btn {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.deliver-btn:hover {
    background-color: darkorange;
}

.delivery-info {
    margin-top: 10px; /* Reduced top margin for tighter grouping */
    margin-bottom: 10px; /* Maintain bottom margin for separation inside the container */
}

.status-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    margin: auto;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.status-info {
    margin-bottom: 20px;
}

.status-lines {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px 0;
}

.status-line {
    flex: 1;
    height: 4px;
    background-color: orange;
    border-radius: 2px;
    margin: 0 10px;
    position: relative;
}

.status-line.preparation::before {
    content: 'En préparation';
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #333;
}

.status-line.ready::before {
    content: 'Prêt à être retiré';
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #333;
}
