.history-container {
    font-family: Arial, sans-serif;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 95%;
    margin: auto;
    margin-bottom: 40px;  /* Augmentation de la marge en bas de chaque conteneur */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.header-row, .bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.earnings-amount {
    color: orange;
}
.restaurant-name, .order-price {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-details, .order-number, .order-time {
    margin-right: 10px;  /* Ajustement de l'espace à droite de chaque élément */
}

.delivery-info {
    margin-top: 10px;
    margin-bottom: 10px; /* Ajustement de l'espace entre les éléments de l'information de livraison */
}
